<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default_layout">

    <th:block layout:fragment="defaultHead"></th:block>

    <!--    <meta th:charset="${common.meta.charset}">-->
    <!--    <meta name="viewport" th:content="${common.meta.viewport}">-->
    <!--    <title th:text="${view.header.title}"></title>-->
    <!--    <meta name="title" th:content="${view.header.meta.title}" />-->
    <!--    <meta name="description" th:content="${view.header.meta.description}">-->
    <!--    <meta name="keyword" th:content="${view.header.meta.keyword}">-->
    <!--    <meta property="og:url" th:content="${view.header.meta.property.url}">-->
    <!--    <meta property="og:title" th:content="${view.header.meta.property.title}">-->
    <!--    <meta property="og:description" th:content="${view.header.meta.property.description}">-->
    <!--    <meta property="og:site_name" th:content="${view.header.meta.property.sitename}">-->
    <!--    <meta property="og:image" th:content="${view.header.meta.property.image}">-->
    <!--    <meta property="og:type" th:content="${view.header.meta.property.type}">-->

</html>