{{> header}}

<h1>Sign Up</h1>
<form action="/user/signup" method="post">
    name:<br>
    <input type="text" name="name">
    <br>
    email(id):<br>
    <input type="text" name="email">
    <br>
    password: <br>
    <input type="text" name="passwd">
    <input type="submit" value="submit">
</form>

{{> footer}}