<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<th:block th:include="head"></th:block>
<th:block th:include="nav"></th:block>

<head>
    <script type="text/javascript" src="/asset/js/demo.js"></script>

    <style>
        aside {
            border: 1px solid #000000;
            margin: 5px auto;
            padding: 5px
        }

        .button {
            background-color: #4CAF50;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
        }
    </style>
</head>

<body>
<section>
    <article>
        <h1 id="titleName"><span th:text="${name}"></span><span>, Welocme</span></h1>
    </article>

    <aside>
        <div id="updateNameDiv">
            <h2>Update User Name</h2>
            <input type="hidden" id="hiddenEmail" name="email"  th:value="${email}">
            <label><b>Update Name:</b>
                <input name="name" id="updateName" type="text">
            </label>
            <br>
            <br>
            <button class="button" id="updateNameBtn" onclick="updateName()" >Send</button>
        </div>
    </aside>

    <aside>
        <div id="deleteUserDiv">
            <h2>Account Termination</h2>
            <input type="hidden" name="email" th:value="${email}">
            <label><b>Password:</b>
                <input type="password" name="passwd">
            </label>
            <br>
            <br>
            <button class="button" id="deleteUserBtn" onclick="deleteUser()" >Send</button>
        </div>
    </aside>
</section>

<th:block th:include="footer"></th:block>
</body>
</html>